//Constants
$large-font-size: 50px;
$primary-color: #060551;
$default-margin: 16px;
$light-grey: #f5f5f5;
$accent-color: #b50203;
$default-border-radius: 20px;

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
@import "krymoh.min.css";

@font-face {
  font-family: "SF-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Bold.otf") format("truetype");
}


@font-face {
  font-family: "SF-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Light.otf") format("truetype");
}

@font-face {
  font-family: "SF-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Regular.otf") format("truetype");
}

* {
  font-family: "SF-Light", 'Roboto', 'Lato', sans-serif;
}

.btn {
  white-space: nowrap;
  display: inline-block;
  height: 60px;
  line-height: 40px;
  padding: 0 14px;
  border: 2px solid;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  color: #FFF;
  text-decoration: none;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

header {
  width: 100%;
  float: left;
}

.btn-primary {
  color: #fff;
  background-color: $primary-color;
  border-color: $primary-color;
}

.navbar-light .navbar-toggler {
  color: rgb(0, 0, 0);
  border-color: transparent;
}


h1, h2, h3, h5, h4, h6, nav a {
  font-family: "SF-Bold" !important;
  margin-bottom: 0 !important;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}

.alert-warning {
  color: #FFF;
  background-color: #0c0b5a;
  border: none;
  border-bottom: 1px solid #252469;
}

.list-group-item {
  padding: .45rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

nav {
  & a {
    font-size: 1.05em;
    color: $primary-color !important;

    &:hover {
      color: $accent-color !important;
    }
  }
}


.feedback-button {
  height: 40px;
  border: solid 3px #FFF;
  background: #3c9c0b;
  width: 100px;
  line-height: 32px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 0.9em;
  position: fixed;
  left: -36px;
  top: 45%;
  z-index: 999;
  box-shadow: -1px 0px 3px 0px #989898;
}

button:focus {
  outline: none;
}


primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: $accent-color !important;
  border-color: $accent-color !important;
}

.no-border {
  border: none !important;

  & h6 {
    margin: 10px 0 !important;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: unset;
  border: none;
  border-radius: 0;
  padding: 20px;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgb(218, 218, 218);
  cursor: pointer;
}

.list-group-item {
  background-color: transparent;
}

.card-body {
  padding: 0 !important;
}

.team-portrait {
  border-radius: 100%;
}

.lower-section, .top-section, .mid-section {
  width: 100%;
  float: left;
}

.lower-section {
  background-color: #FFF;
}

.mid-section {
  padding: 40px 0;
  background-color: #f5f5f5;

  & h1, h2, h3, h4, h5, h6 {
    font-family: "SF-Regular" !important;
  }

  & p {
    font-size: 1.1em;
    color: #7d7d7d;
  }
}

footer {
  width: 100%;
  float: left;
  padding: 20px 0;
  background-color: #ececec;
}

.top-section {
  background-color: $primary-color;
  padding: 120px 0;
  color: #FFF;
  border-bottom: 1px solid $light-grey;
  margin-bottom: -350px;

  & h2 {
    font-size: 2.5em;
  }

  & p {
    margin-top: 10px;
    font-size: 1.7em;
  }
}

.wrapper {
  width: 100%;
  padding: 10px 0;
  border-radius: $default-border-radius;
  float: left;
  margin: 10px 0;

  & img {
    //height: 65px !important;
  }

  & h5 {
  }
}

.social-media-section {
  width: 100%;
  padding: 10px 0;
  background-color: #f7f7f7;
  float: left;
}

.custom-horizontal-line {
  margin-left: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 5px solid #b50203;
  width: 50px;
}

.belt {
  width: 100%;
  padding: 50px 0;
  float: left;
  color: #FFF;
  border-bottom: 1px solid #f5f5f5;
  background-image: url("../imgs/bg-halftone-black-20p@2x.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #070654;

  & button {
    margin: 15px 0;
  }
}

.two-page-layout {
  width: 100%;
  float: left;
  padding: 50px 0;

  & h3 {
    margin-bottom: 10px !important;
  }

  & p {
    font-size: 1.3em;
  }
}

footer {
  & a {
    color: #212529;
    font-size: 0.8em;
  }
}

.collapsed .icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="false"] .icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="true"] .icon {
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}


#bottom-two-page-layout {
  background-color: #2c3d8b;
  color: #FFF;
}

.layout-section {
  width: 100%;
  float: left;
  //padding: 50px 0;
}

.left-section {
}

.right-section {
}

button, a {
  cursor: pointer;
}

.form-wrapper {
  margin-bottom: 30px;
}


.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}


//Media Queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .top-section {
    margin-bottom: -250px;
    text-align: center;

    & h2 {
      font-size: 2.2em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .mid-section {
    margin-top: 122px;
  }

  .two-page-layout {
    & .col-md-4 {
      padding-top: 10px !important;
    }
  }

  .feedback-button {
    top: 60%;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .top-section {
    margin-bottom: -250px;

    & h2 {
      font-size: 2.2em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .feedback-button {
    top: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .top-section {
    margin-bottom: -250px;

    & h2 {
      font-size: 2em;
    }

    & p {
      font-size: 1.1em;
    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .top-section {
    margin-bottom: -350px;

    & h2 {
      font-size: 2.3em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .feedback-button {
    top: 35%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .top-section {
    margin-bottom: -350px;

    & h2 {
      font-size: 2.5em;
    }

    & p {
      font-size: 1.5em;
    }
  }

  .feedback-button {
    top: 35%;
  }
}
