//Constants
$large-font-size: 50px;
$primary-color: #f2f2f2;
$default-margin: 16px;
$light-grey: #f5f5f5;
$accent-color: #000;
$default-border-radius: 1em;

@import url('https://fonts.googleapis.com/css?family=Lato|Roboto&display=swap');
@import "krymoh.min.css";

@font-face {
  font-family: "SF-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Bold.otf") format("truetype");
}

@font-face {
  font-family: "SF-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Light.otf") format("truetype");
}

@font-face {
  font-family: "SF-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SF-Regular.otf") format("truetype");
}

* {
  font-family: "SF-Light", 'Roboto', 'Lato', sans-serif;
}

body {
  font-size: 0.85em;
  line-height: 1.38105;
  font-weight: 400;
  letter-spacing: 0.011em;
}

header {
  width: 100%;
  float: left;
}

.navbar-light .navbar-toggler {
  color: #333 !important;
  border-color: transparent;
}

#navbar {
  transition: top 0.3s;
}

.btn {
  font-size: 17px;
  line-height: 1.47059;
  height: 40px;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: #0070c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#42a1ec), to(#0070c9));
  background: linear-gradient(#42a1ec, #0070c9);
  border-color: #07c;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  min-width: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: center;
  white-space: nowrap;
}

h1, h2, h3, h5, h4, h6 {
  font-family: "SF-Bold" !important;
  margin-bottom: 0 !important;
}


.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
  margin: 0 25px;
}


.alert {
  margin-bottom: 0;
  border-radius: 0;
  padding: .75rem 4.5rem !important;
}

.navbar {
  background-color: #f0f0f0;
  color: #333 !important;
}


.bg-light {
  background-color: transparent !important;
}

.alert-warning {
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-bottom: 1px solid #e2e2e2;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);

  & p {
    margin-bottom: 0;
  }

  & h5{
    margin-top: 9px;
  }
}

.list-group-item {
  padding: .45rem 1rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

nav {
  & a {
    color: #333 !important;
    font-weight: 500;

    &:hover {
      color: $accent-color !important;
    }
  }
}


.feedback-button {
  height: 40px;
  border: solid 3px #FFF;
  background: #3c9c0b;
  width: 100px;
  line-height: 32px;
  border-radius: 0 0 5px 5px;
  -webkit-transform: rotate(-90deg);
  font-weight: 600;
  color: white;
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  text-align: center;
  font-size: 0.9em;
  position: fixed;
  left: -36px;
  top: 45%;
  z-index: 999;
  box-shadow: -1px 0px 3px 0px #989898;
}

button:focus {
  outline: none;
}


primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle,
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: $accent-color !important;
  border-color: $accent-color !important;
}

.no-border {
  border: none !important;

  & h6 {
    margin: 10px 0 !important;
  }
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: unset;
  border: none;
  border-radius: 0;
  padding: 20px;
}

.card-header {
  padding: 0.2rem 1.25rem;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid rgb(218, 218, 218);
  cursor: pointer;
}

.list-group-item {
  background-color: transparent;
}

.card-body {
  padding: 0 !important;
}

.team-portrait {
  border-radius: 100%;
}

.lower-section, .top-section, .mid-section {
  width: 100%;
  float: left;
}

.lower-section {
  background-color: #FFF;
}

.mid-section {
  padding: 40px 0;
  background-color: #f2f2f2;

  & h1, h2, h3, h4, h5, h6 {
    font-family: "SF-Regular" !important;
    margin-bottom: 5px !important;
  }

  & p {
    font-size: 1.1em;
    color: #7d7d7d;
  }
}

footer {
  width: 100%;
  float: left;
  padding: 5px 0;
  background-color: #f5f5f7;

  & p {
    margin: 5px 0;
  }

  & h6 {
    font-size: 1em;
    font-weight: 500;
  }

  & .footer-text, a {
    font-size: 0.9em !important;
  }
}

.top-section {
  background-color: #fff;
  padding: 120px 0 0 0;
  color: #333;
  border-bottom: 1px solid $light-grey;
  //margin-bottom: -350px;

  & h2 {
    font-size: 2.5em;
  }

  & p {
    margin-top: 10px;
    font-size: 1.7em;
  }
}

.wrapper {
  width: 100%;
  padding: 30px;
  background-color: #FFF;
  border-radius: $default-border-radius;
  float: left;
  margin: 10px 0;

  & img {
    //height: 65px !important;
  }

  & h5 {
    line-height: 1.16667 !important;
    font-weight: 600 !important;
    letter-spacing: 0.009em !important;
    margin-bottom: 5px !important;
  }
}

.belt {
  width: 100%;
  padding: 50px 0;
  float: left;
  color: #FFF;
  border-bottom: 1px solid #f5f5f5;
  background-image: url("../imgs/bg-halftone-black-20p@2x.png");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #131b30;

  & button {
    margin: 15px 0;
  }
}

.two-page-layout {
  width: 100%;
  float: left;
  padding: 50px 0;

  & h3 {
    margin-bottom: 10px !important;
  }

  & p {
    font-size: 1.3em;
  }
}

footer {
  & a {
    color: #212529;
    font-size: 0.8em;
  }
}

.icon {
  font-size: 0.8em !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHdpZHRoPSI4cHgiIGhlaWdodD0iMThweCIgdmlld0JveD0iMCAwIDggMTgiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGQ9Ik0xLjI5LDAuOThMNy41LDlsLTYuMjEsOC4wMWwtMC42OC0wLjU0TDYuNDIsOWwtNS44LTcuNDlMMS4yOSwwLjk4eiIgZmlsbD0iI2Q2ZDZkNiIgLz48L3N2Zz4=);
}

.callout {
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -.021em;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  background-color: #fafafa;
  margin: 1.47059em auto;
  padding: 2.23529em 8.33333% 2.11765em;
  color: #333
}

hr {
  margin-bottom: 0.2em;
  margin-top: 0.8em;
}

.breadcrumb {
  padding: .75rem 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
}

.collapsed .icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="false"] .icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="true"] .icon {
  -webkit-transform: rotate(45deg) !important;
  -moz-transform: rotate(45deg) !important;
  -o-transform: rotate(45deg) !important;
  -ms-transform: rotate(45deg) !important;
  transform: rotate(45deg) !important;
}


.collapsed .nav-icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="false"] .nav-icon {
  -webkit-transform: rotate(180deg) !important;
  -moz-transform: rotate(180deg) !important;
  -o-transform: rotate(180deg) !important;
  -ms-transform: rotate(180deg) !important;
  transform: rotate(180deg) !important;
}

div[aria-expanded="true"] .nav-icon {
  -webkit-transform: rotate(360deg) !important;
  -moz-transform: rotate(360deg) !important;
  -o-transform: rotate(360deg) !important;
  -ms-transform: rotate(360deg) !important;
  transform: rotate(360deg) !important;
}

#bottom-two-page-layout {
  background-color: #2c3d8b;
  color: #FFF;
}

.layout-section {
  width: 100%;
  float: left;
  //padding: 50px 0;
}

.left-section {
}

.right-section {
}

button, a {
  cursor: pointer;
}

.form-wrapper {
  margin-bottom: 30px;
}


.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}


//Media Queries
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .alert {
    padding: 1em !important;
  }
  .top-section {
    //margin-bottom: -250px;
    text-align: center;

    & h2 {
      font-size: 2.2em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .mid-section {
    //margin-top: 122px;
  }

  .two-page-layout {
    & .col-md-4 {
      padding-top: 10px !important;
    }
  }

  .feedback-button {
    top: 60%;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .alert {
    padding: 0.75rem 4.5rem !important;
  }
  .top-section {
    //margin-bottom: -250px;

    & h2 {
      font-size: 2.2em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .mid-section {
    margin-top: 0;
  }

  .feedback-button {
    top: 60%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .alert {
    padding: 0.75rem 1.65rem !important;
  }
  .top-section {
    //margin-bottom: -250px;

    & h2 {
      font-size: 2em;
    }

    & p {
      font-size: 1.1em;
    }
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .container {
    max-width: 700px;
  }
  .top-section {
    //margin-bottom: -350px;

    & h2 {
      font-size: 2.3em;
    }

    & p {
      font-size: 1.3em;
    }
  }

  .feedback-button {
    top: 35%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .top-section {
    //margin-bottom: -350px;

    & h2 {
      font-size: 2.5em;
    }

    & p {
      font-size: 1.5em;
    }
  }

  .feedback-button {
    top: 35%;
  }
}
